@model ProjetoMVC01.Presentation.Models.EmpresaConsultaViewModel

@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Consulta de empresas</h5>
<p>Preencha os campos abaixo para pesquisar empresas.</p>
<hr />

<div class="row">
    <div class="col-md-4">

        <!-- criando o formulário de pesquisa de empresas -->
        @using (Html.BeginForm())
        {
            <label>Razão Social:</label>
            @Html.TextBoxFor(model => model.RazaoSocial,
                new
                {
                    @class = "form-control",
                    @placeholder = "Ex: Empresa Modelo S/A"
                })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.RazaoSocial)
            </div>
            <br/>

            <input type="submit" value="Pesquisar Empresas"
                   class="btn btn-success"/>
        }

    </div>
</div>

<br/>

<!-- Exibindo o resultado da consulta de empresas -->
@if(Model != null && Model.Empresas != null && Model.Empresas.Count > 0)
{
    <table id="tabela" class="table table-bordered table-striped table-hover table-light mt-4">
        <thead>
            <tr>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th width="180">Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Empresas)
            {
                <tr>
                    <td>@item.RazaoSocial</td>
                    <td>@item.Cnpj</td>
                    <td>
                        <a href="/Empresa/Edicao?id=@item.IdEmpresa" 
                           class="btn btn-primary btn-sm">
                            Atualizar
                        </a>
                        <a href="/Empresa/Exclusao?id=@item.IdEmpresa" 
                           onclick="return confirm('Deseja excluir a empresa @item.RazaoSocial?');"
                           class="btn btn-danger btn-sm">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Quantidade de registro(s): @Model.Empresas.Count
                </td>
            </tr>
        </tfoot>
    </table>
}